@mixin clearfix() {
    &:after {
        content: "";
        display: table;
        clear: both;
    }
}

@mixin column($col, $sum) {
    width: (($grid-width - ($sum - 1)*$gutter-horizontal)/$sum)*$col;
    float: left;
    
    &:not(:last-child) {
        margin-right: $gutter-horizontal;
    }

    @include responsive(tablet-portrait) {
        width: 100%;
        margin-right: 0;
        margin-bottom: $gutter-vertical-small;
    }
}

@mixin responsive($breakpoint) {
    @media only screen and (max-width: map-get($breakpoints, $breakpoint)) { @content };
}

@mixin placeholder {
	&::-webkit-input-placeholder { @content } 
	&:-ms-input-placeholder { @content }
	&::placeholder { @content }
}